<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/stylesforcomponents.css">
  <title></title>
</head>

<body>

  <div class="box" id="heading">

    <h1>CATEGORIES</h1>

  </div>
  <div class="box">



    <div class="item">
      <p> <a href="http://localhost:3000/ecuList">ECU</a></p>
    </div>
    <div class="item">
      <p> <a href="http://localhost:3000/spoilerList">SPOILERS</a></p>
    </div>
    <div class="item">
      <p> <a href="http://localhost:3000/bodykitsList">BODYKITS</a></p>
    </div>
    <div class="item">
      <p> <a href="http://localhost:3000/suspensionList">SUSPENSION</a></p>
    </div>
    <div class="item">
      <p> <a href="http://localhost:3000/tyresList">TYRES</a></p>
    </div>
    <div class="item">
      <p> <a href="http://localhost:3000/wheelsList">WHEELS</a></p>
    </div>
    <div class="item">
      <p> <a href="http://localhost:3000/turboList">TURBO</a></p>
    </div>
    <div class="item">
      <p> <a href="http://localhost:3000/nitrousoxideList">NITROUSOXIDE</a></p>
    </div>
    <div class="item">
      <p> <a href="http://localhost:3000/bumperList">BUMPERS</a></p>
    </div>
    <div class="item">
      <p> <a href="http://localhost:3000/rollcageList">ROLLCAGE</a></p>
    </div>
    <div class="item">
      <p> <a href="http://localhost:3000/exhaustList">EXHAUST</a></p>
    </div>



</body>

</html>
